link(rel='stylesheet', href='/stylesheets/style.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
script(src='socket.io/socket.io.js')
script
    var current_user;
    var socket = io.connect('http://localhost:3000');
    socket.on('connect', function(){
        socket.emit('init');
    });
    socket.on('updatechat', function (user, data) {
        $('#conversation').append('<b>'+ user + ':</b> ' + data + '<br>');
    });
    socket.on('updateusers', function(data){

        $('#users').empty();
        for(var i = data.length-1; i >= 0; --i){
            if(data[i] != undefined){
                console.log("CALLS UPDATE USERS! USERS: " + data);
                $('#users').append( data[i] + '<br>');
            }
        }
    });
    socket.on('set_current_user', function(current){
            current_user = current;
    });
    $(function(){
        $('#datasend').click(function() {
            var message = $('#data').val();
            $('#data').val("");
            socket.emit('sendchat', message, current_user);
        });

        $('#logout').click(function(){
            socket.emit('log_out', current_user);
        });
    });
    
block content
  #container
    #userbar
      | Welcome #{username} |
      a(href='/logout', id='logout') Log Out
    #users
    #conversation
    input(type='text', id="data", style="width:200px;")
    input(type="button", id="datasend", value="send")
    
