link(rel='stylesheet', href='/stylesheets/style.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
script(src='socket.io/socket.io.js')
script
    var socket = io.connect('http://localhost:3000');
    socket.on('connect', function(){
        socket.emit('init');
    });
    socket.on('updatechat', function (user, data) {
        $('#conversation').append('<b>'+ user + ':</b> ' + data + '<br>');
    });
    socket.on('updateusers', function(data){
        $('#conversation').append(data);
    });
    $(function(){
        $('#datasend').click(function() {
            var message = $('#data').val();
            $('#data').val("");
            socket.emit('sendchat', message);
        });

    });
    
block content
  #container
    #users
    #conversation
    input(type='text', id="data", style="width:200px;")
    input(type="button", id="datasend", value="send")
    
