html
  title=title
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
  script(src='socket.io/socket.io.js')
  script
     
  block content
    #container

      h1= "You have been successfully logged out!"
      a(href='/') Click here to return home
      #users
    

