body
   background: #ccc

#container
   background: #fff
   width: 800px
   margin: 0 auto
   padding: 40px 20px
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

#users
    float:left
    width:200px
    margin-left: 5px

#users h1
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif
    font-weight:bold
    

#conversation
    float:left
    height:400px
    width:500px
    overflow-y:scroll

#conversation textarea
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


#submit
    clear:both

label
    text-align:right
