body
   background: #ccc

#container
   background: #fff
   width: 450px
   margin: 0 auto
   padding: 40px 20px
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

label
    text-align:right
